/* Target the grid container */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-left: 350px;
    margin-top: 5px;
    margin-bottom: 0;
	padding: 0;
	text-align: center;
}

#gallery {
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 15px;
    /*grid-template-columns: repeat(auto-fit, minmax(268px, 1fr)); /* auto-fit handles grid-item overflow*/
    /*grid-auto-rows: minmax(150px, auto);*/
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 55%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    margin-left: 75px;
  }



      /* adjusts the grid for wider vieports using Media Queries*/
      /*@media (min-width: 768px) {
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(268px, 1fr)); /* auto-fit handles grid-item overflow*/
      */
